{% extends 'layout.html' %}

{% block body %}

<!-- banner section -->
<section class="banner_w3lspvt" id="home" style="border-radius: 15px;">
    <div class="csslider infinity" id="slider1">
        <div class="banner-top">
            <div class="overlay">
                <div class="container">
                    <div class="w3layouts-banner-info text-center">
                        <h3 class="text-wh">CropWise</h3>
                        <h4 class="text-wh mx-auto my-4"><b>Empower Your Farming Strategy with CropWise:</b></h4>
                        <br>
                        <p class="text-li mx-auto mt-2">
                            Optimal Crop Picks for Your Land! <br>
                            Fertilizer Secrets for Bumper Crops! <br>
                            Spot & Stop Crop Troubles ASAP!<br>
                            Effective Disease Defense Plans!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
